{
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "objectWrap": "preserve",
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "endOfLine": "lf",
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none"
}
