# === ENV APP ===
NEXT_PUBLIC_APP_ENV=local

# === PORT ===
PORT=3000

# === APP INFO ===
NEXT_PUBLIC_APP_NAME="Rzl Zone"
NEXT_PUBLIC_APP_RELEASE=2026
NEXT_PUBLIC_APP_POWERED_BY="Rzl Zone"

# === BASE URLS ===
# Production Domain
NEXT_PUBLIC_BASE_URL="https://rzlzone.vercel.app"
# Dev / Local
NEXT_PUBLIC_BASE_URL_LOCAL="http://localhost"

# === BACKEND API (PUBLIC READ ACCESS ONLY) ===
NEXT_PUBLIC_BACKEND_API_URL="https://rzlzone.vercel.app"
NEXT_PUBLIC_BACKEND_API_URL_LOCAL="http://localhost"

# === GITHUB LINKS ===
NEXT_PUBLIC_GITHUB_ORG_URL="https://github.com/rzl-zone/rzl-zone"
NEXT_PUBLIC_GITHUB_REPO_URL="https://github.com/rzl-app"

# === SEARCH: ORAMA ===
ORAMA_SECRET_API_KEY=
NEXT_PUBLIC_ORAMA_API_KEY=
NEXT_PUBLIC_ORAMA_ENDPOINT=

# === SEARCH: ALGOLIA ===
ALGOLIA_SECRET_API_KEY=
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_API_KEY=

# === AI API KEY ===
OPENROUTER_API_KEY=
