@import "tailwindcss";
@import "tw-animate-css";

/* @import "./shadcn.css"; */
@import "./main-fd-custom.css";

@source "../../../**/*.{ts,tsx,js,jsx,cjs,md,mdx}";
@source "../../../../apps/**/*.{ts,tsx,js,jsx,cjs,md,mdx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-poppins: --font-poppins;

  --breakpoint-xs: 30rem;
  --breakpoint-xs1: 26.25rem;
  --breakpoint-xxs: 20rem;
  --breakpoint-x3s: 15rem;
  --breakpoint-x4s: 12.5rem;

  --text-1lgs: 1.063rem;
  --text-1lgs--line-height: 1.563rem;
  --text-1lg: 1.063rem;
  --text-1lg--line-height: 1.625rem;
  --text-x2s: 0.625rem;
  --text-x2s--line-height: 0.938rem;
  --text-x3s: 0.5rem;
  --text-x3s--line-height: 0.781rem;
  --text-x4s: 0.375rem;
  --text-x4s--line-height: 0.625rem;
  --text-x5s: 0.25rem;
  --text-x5s--line-height: 0.469rem;
}
